canvas {
  border: 1px solid black;
  display: block;
  margin: 20px auto;
}
#message {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  z-index: 1000;
  animation: popUp 0.5s ease-in-out, fadeOut 5s ease-in-out 5s forwards;
}
@keyframes popUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
.form-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}
.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container form label {
  margin: 5px 0;
}
.form-container form input[type="text"],
.form-container form input[type="color"],
.form-container form input[type="number"] {
  margin-bottom: 10px;
}
#settingsForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
#scoreboard {
  width: 50%;
  margin: 20px auto;
  text-align: center;
}
#scoreboard table {
  width: 100%;
  border-collapse: collapse;
}
#scoreboard th, #scoreboard td {
  border: 1px solid #000;
  padding: 8px;
}
